@model Departamento


<div class="container">
    <h2>Editar Departamento</h2>
    <form method="post">
        <div class="form-group">
            <label>ID:</label>
            <input name="IdDept" class="form-control" value="@Model.IdDept" readonly />
        </div>
        <div class="form-group">
            <label>Nombre:</label>
            <input name="Nombre" class="form-control" value="@Model.Nombre" required />
        </div>
        <div class="form-group">
            <label>Localidad:</label>
            <input name="Localidad" class="form-control" value="@Model.Localidad" required />
        </div>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
