@model List<Empleado>

<h1>Empleados</h1>

<p>
    <a asp-action="EmpleadosAlmacenados" asp-controller="Empleados">Empleados almacenados Session</a>
</p>


<h2 style="color:darkred">@ViewData["MENSAJE"]</h2>

<ul class="list-group">
    @foreach(Empleado emp in Model)
    {
        <li class="list-group-item list-group-item-warning">
            @emp.Apellido
            <a asp-controller="Empleados"
                asp-action="SessionEmpleados"
                asp-route-idempleado="@emp.IdEmpleado">
                Almacenar Empleado
            </a>
        </li>
    }
</ul>