@if(Context.User.Identity.IsAuthenticated == false){
    //EL USUARIO NO ESTA AUTENTICADO, POR LO QUE 
    //LE LLEVAMOS A CUALQUIER VISTA PROTEGIDA QUE,
    //A SU VEZ NOS LLEVARA A LOGIN
    <li class="nav-item">
        <a asp-controller="Usuarios"
            asp-action="Perfil"
        class="nav-link">
            Log In
        </a>
    </li>
}
else
{
    <li class="nav-link">
        <a asp-controller="Managed"
            asp-action="Logout"
            class="nav-link-danger">
        Log Out
        <span style="color:blue">
            @Context.User.Identity.Name
        </span>
        </a>
    </li>
}