@model Coche
<h1 style="color:blue">
    Detalles Coche
</h1>

<h2 style="color:red">
    Marca: @Model.Marca, Modelo: @Model.Modelo
</h2>
<img src="@Model.Imagen"
     style="width: 250px; height: 250px" />