@model List<Departamento>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
        Coches
    </a>
    <ul class="dropdown-menu">
        @foreach (Departamento dept in Model)
        {
            <li>
                <a class="dropdown-item"
                   asp-controller="Empleados"
                   asp-action="EmpleadosDepartamento"
                   asp-route-iddepartamento="@dept.IdDepartamento">
                    @dept.Nombre
                </a>
            </li>
        }
    </ul>
</li>