
<h1>Crear personaje</h1>

<form method="post">
    <label>ID:</label>
    <input type="number" name="id" class="form-control" />
    <label>Nombre</label>
    <input type="text" name="nombre" class="form-control" />
    <label>Imagen</label>
    <input type="text" name="imagen" class="form-control" />
    <button class="btn btn-info">
        Crear Personaje
    </button>
</form>