@model List<Doctor>

<h1>Doctores Dependency Injection</h1>

<a class="btn btn-outline-warning" asp-action="Create" asp-controller="Doctores">Añadir</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Apellido</th>
            <th>Especialidad</th>
            <th>Salario</th>
            <th>Hospital</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Doctor doc in Model)
        {
            <tr>
                <td>@doc.Apellido</td>
                <td>@doc.Especialidad</td>
                <td>@doc.Salario</td>
                <td>@doc.IdHospital</td>
            </tr>
        }
    </tbody>
</table>