<h1>
    Vista --->Controller POST
</h1>

<form method="post">
    <label>Nombre:</label>
    <input type="text" name="nombre"
        class="form-control" />
    <label>Email:</label>
    <input type="text" name="email"
        class="form-control" />
    <label>Edad: </label>
    <input type="text" name="edad"
        class="form-control" />
    <label>Aficiones: </label>
    <input type="text" name="aficiones"
        class="form-control" />
    <button class="btn btn-info">
        Enviar Datos
    </button>
</form>

<h1 style="color:magenta">Datos: @ViewData["DATOS"]</h1>