<h1>Login Fake</h1>
<form method="post">
    <label>Usuario:</label>
    <input type="text" name="usuario" class="form-control"/>
    <button class="btn btn-info">
        Log in
    </button>
</form>

<h2 style="color:blue">
    @ViewData["MENSAJE"]
</h2>