<h1 style="color:blue">
    Log In Usuarios
</h1>

<form method="post">
    <label>Username</label>
    <input  type="text" name="username" class="form-control"/>
    <label>Password</label>
    <input type="text" name="password" class="form-control" />
    <button class="btn btn-info">
        Log in
    </button>
</form>

<h2 style="color:red">
    @ViewData["MENSAJE"]
</h2>