

<h1>Create Hospital</h1>

<form method="post">
    <label>ID</label>
    <input type="number" name="IdHospital"  class="form-control"/>

    <label>Nombre:</label>
    <input type="text" name="Nombre" class="form-control" />

    <label>Dirección:</label>
    <input type="text" name="Direccion" class="form-control" />

    <label>Teléfono:</label>
    <input type="text" name="Telefono" class="form-control" />

    <label>Número de Camas:</label>
    <input type="number" name="Camas" class="form-control" />

    <button class="btn btn-warning" type="submit">Guardar</button>
</form>
