<!doctype html>
<html>
    <head>
        <title>Mi nueva plantilla</title>
    </head>
    <body>
        <h1>Nuevo Template</h1>
        <div style="background-color:lightblue">
            @RenderBody()
        </div>
    </body>
</html>