<h1>Nuevo departamento</h1>

<form method="post">
    <label>Nombre:</label>
    <input type="text" name="nombre" class="form-control" />
    <label>Localidad:</label>
    <input type="text" name="localidad" class="form-control" />
    <button class="btn btn-info">
        Insertar Departamento
    </button>
</form>