@model Departamento

<h1>Details</h1>

<p>
    <a asp-controller="Departamentos"
       asp-action="Index">
        Back To Index
    </a>
</p>

<ul class="list-group">
    <li class="list-group-item">
        Id departamento: @Model.IdDepartamento
    </li>
    <li class="list-group-item">
        Nombre: @Model.Nombre
    </li>
    <li class="list-group-item">
        Localidad: @Model.Localidad
    </li>
</ul>
