@{
    Mascota mascota = ViewData["MASCOTA"] as Mascota;
}

<h1 style="color:red">Session Object Extensions</h1>

<p>
    <a asp-controller="EjemploSession" asp-action="SessionMascotaObject"
       asp-route-accion="almacenar">Almacenar Object</a>
</p>
<p>
    <a asp-controller="EjemploSession" asp-action="SessionMascotaObject"
       asp-route-accion="mostrar">Mostrar Object</a>
</p>
<h3>@ViewData["MENSAJE"]</h3>
@if (mascota != null)
{
    <h1 style="color:white; background-color: darkblue">
        Nombre: @mascota.Nombre, Raza: @mascota.Raza
    </h1>
    <h2 style="color:green">
        Edad: @mascota.Edad
    </h2>
}