<h1>Create Hospital</h1>

<p>
    <a asp-controller="Hospitales" asp-action="Index">back to index</a>
</p>

<form method="post">
    <label>Id Hospital</label>
    <input type="number" name="idhospital" class="form-control" />
    <label>Nombre</label>
    <input type="text" name="nombre" class="form-control" />
    <label>Direccion</label>
    <input type="text" name="direccion" class="form-control" />
    <label>Telefono</label>
    <input type="text" name="telefono" class="form-control" />
    <label>Camas</label>
    <input type="number" name="camas" class="form-control" />
    <br />
    <button class="btn btn-light">
        Insertar Hospital
    </button>
</form>
<h1 style="color:aquamarine">@ViewData["MENSAJE"]</h1>