@model List<Hospital>

<h1>Lista de hospitales</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Direcicón</th>
            <th>Teléfono</th>
            <th>Camas</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Hospital hospital in Model)
        {
            <tr>
                <td>@hospital.Nombre</td>
                <td>@hospital.Direccion</td>
                <td>@hospital.Telefono</td>
                <td>@hospital.Camas</td>
            </tr>
        }
    </tbody>
</table>