<h1>Register User</h1>

<form method="post">
    <label>Nombre:</label>
    <input type="text" name="nombre" class="form-control" />
    <label>Email:</label>
    <input type="text" name="email" class="form-control" />
    <label>Password:</label>
    <input type="text" name="password" class="form-control" />
    <label>Imagen:</label>
    <input type="text" name="imagen" class="form-control" />
    <button class="btn btn-info">
        Register
    </button>
</form>
