<h1 style="color:red">
    No tiene permisos para acceder
</h1>
<h2 style="color:blue">
    No ha iniciado sesión
</h2>
<img src="https://i.ytimg.com/vi/24eb9lJorj4/maxresdefault.jpg"
     style="width: 400px; height: 400px" />
