<h1>Log In usuario</h1>

<form method="post">
    <label>Usuario</label>
    <input type="text" name="usuario" class="form-control" />
    <label>Password</label>
    <input type="text" name="password" class="form-control" />
    <button class="btn btn-info">
        Log In
    </button>
</form>
<h2>
    @ViewData["Mensaje"]
</h2>