<h1>Sumar post funciona</h1>

<form method="post">
    <label>Numero 1</label>
    <input type="text" name="numero1"
        class="form-control" />
    <label>Numero 2</label>
    <input type="text" name="numero2"
        class="form-control" />
    <button class="btn btn-dark">
        Sumar
    </button>
</form>

<h2> @ViewBag.data </h2>